.DS_Store
Icon?
Code/.DS_Store
Code/*.Rproj
Code/.Rproj.user
Code/.Rhistory
Code/Old/
Code/Untitled*
Code/rough_calcs.R
Code/*_old.R
Code/process_cdph_data_with_output.R
Code/backcalculate_infections.R
Data/agg_*
Data/CA_IFR_by_age.RDS
Data/CA_pop*
Data/CalCATdata/
Data/Calibration*/
Data/CAOpenDataPortalData/
Data/case_and_death_demogrphcs.RData
Data/CDPHDeathAgeData/
Data/CDSSALFData/
Data/CEPRFrontlineWorkerData/
Data/CMSNursingHomeData/
Data/*onset_to_death_delay.rds
Data/coeffs*
Data/county_data.csv
Data/COVIDForecastHubData/
Data/COVIDPrison*/
Data/cum_*
Data/death_*
Data/FullCAPopulationSimulation/
Data/HRs_*
Data/inc*
Data/pred*
Data/Predictions*/
Data/processed*
Data/prop_CA_cases_deaths*
Data/Questions*
Data/regression*
Data/seroprev_pars.RDS
Data/SeroTrackerSeroprevalenceData/
Data/SF_county.csv
Data/Simulation*/
Data/SimulationRuns.xlsx
Data/SNFdata
Data/WHOVaccineSupplyData/
Figures/
IRB/
Lit/
Manuscript/
Pre-analysis plan/
Presentations/
.Rproj.user
