.DS_Store
Icon?
Code/.DS_Store
Code/*.Rproj
Code/.Rproj.user
Code/.Rhistory
Code/Old/
Code/Untitled*
Code/rough_calcs.R
Code/*_old.R
Code/process_cdph_data_with_output.R
Code/backcalculate_infections.R
Code/calc_IFR.R
Code/check_county_case_totals.R
Code/compare_predictions.R
Code/fit_seroprevalence_curve.R
Code/process_la_times_cdph_data.R
Code/process_regression_output.R
Code/process_SNF_data.R
Code/run_add_risk_ests.R
Code/run_cdph_data_analysis.R
Code/run_death_risk_estimation.R
Code/run_plot_fit.R
Code/run_predictions.R
Code/run_predictions_death_IFR_model.R
Code/run_vaccine_impact_prediction.R
Code/seroprevalence_functions.R
Data/agg_*
Data/CA_IFR_by_age.RDS
Data/CA_pop*
Data/CalCATdata/
Data/Calibration*/
Data/CAOpenDataPortalData/
Data/case_and_death_demogrphcs.RData
Data/CDPHDeathAgeData/
Data/CDSSALFData/
Data/CEPRFrontlineWorkerData/
Data/CMSNursingHomeData/
Data/*onset_to_death_delay.rds
Data/coeffs*
Data/county_data.csv
Data/COVIDForecastHubData/
Data/COVIDPrison*/
Data/cum_*
Data/death_*
Data/FullCAPopulationSimulation/
Data/HRs_*
Data/inc*
Data/pred*
Data/Predictions*/
Data/processed*
Data/prop_CA_cases_deaths*
Data/Questions*
Data/regression*
Data/seroprev_pars.RDS
Data/SeroTrackerSeroprevalenceData/
Data/SF_county.csv
Data/Simulation*/
Data/SimulationRuns.xlsx
Data/SNFdata
Data/WHOVaccineSupplyData/
Figures/
geographic paper/
IRB/
Lit/
Manuscript/
PoojansCode/
Pre-analysis plan/
Presentations/
.Rproj.user
